*
{
  margin:0 auto;
  padding:0;
 font-family: Arial, Helvetica, sans-serif;
/* font-family: 'Montserrat', sans-serif;
 color: white*/
 
}

html, body
{
  background-color: #DFD1D1;
  position: relative;
}

:focus{
  outline: none;
}

:active{
  outline: none;
}




select:focus, active{
  outline: none;
}


.maincontent
{
  width: 100%;
  display: flex;
  /*flex-wrap: wrap;*/
  flex-direction: row;
  background-color:#F4F0F0;
  /*height:100vh;*/
  height: auto;
  padding:1%;
  /*overflow: scroll;*/
  overflow: auto;
}

.maincontent > section:first-child
{
  flex:1;
  /*background-color: red;*/
  margin: 1%;
}

.maincontent>section:nth-child(1)>div
{
  background: white;
  margin-bottom: 2%;
  margin-right: 2%;
  padding: 2%;
}

.maincontent>section:nth-child(1) ul
{
  list-style-type: none;
}

.maincontent>section:nth-child(1) ul li
{
  width: 90%;
  height:30px;
  margin: 1%;
  padding: 5px;
  font-size: 14px;
  letter-spacing: 1px;
  opacity: 0.7;
  /*background-color: yellow;*/
}

.maincontent > section:last-child
{
  flex:3;
  /*background-color: green;*/
   margin: 1%;
}




.leftContServices
{
  margin :0.5%;
  display: flex;
  /*flex-direction: row;*/
  flex-wrap: wrap;
  /*height: 150px;*/
  /*align-items: center;*/
}


.leftContServices>div
{
  flex:1;

}

.servce
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.servce>div
{
  flex:1;
  /*margin: 1% auto;*/
  text-align: left;
  /*background-color: red;
  border: 1px solid yellow;*/
}

.servce>div:nth-child(1)
{
  text-align: center;
  /*align-content: right;*/
}


.servce>div h1
{
  font-size: 14px;
  font-weight: 500;
  color: grey;
  letter-spacing: 1px;
  cursor: pointer;
}

.servce>div h1:hover
{
  color: orange;
}

.servce>div p
{
  font-size: 12px;
  font-weight: 500;
  color: grey;
  letter-spacing: 1px;
}


.serve > section
{
  margin-top:25% 
  


}


.topSale>section
{
  display: flex;
  flex-direction: row;
  font-size: 12px;
  font-weight: 500;
  color: grey;
  letter-spacing: 1px;
}


.topSale>section>div:first-child
{
  flex:1;
}


.topSale>section>div:last-child
{
  flex:2;
}

.featlist
{
  width:100%;
  box-sizing: border-box;
  /*padding: 1%;*/
}

.featlist ul
{
  list-style-type: none;
}

.featlist ul li
{
  display: inline-block;
  max-width:150px;
  max-height: 50px;
  font-weight: 600;
  color: grey;
  font-size: 16px;
  letter-spacing: 1px;
  /*border: 1px solid grey;*/
  text-align: left;
  /*margin: 0px 15px 0px 0px;*/
  margin-right: 5%;
  /*padding-left: 5%;*/
  cursor: pointer;
}

.featlist ul li:hover
{
  color: orange
}





.hid>ul
{
  list-style-type: none;
}

.hid>ul>li
{
  width: 100px;
  height: 30px;
  text-align: center;
  color: grey;
  cursor: pointer;
}

#srch:hover
{
  background-color: orange !important;
}


/*Above Same for All*/


.addbtn{
  background-color: mediumseagreen;
  color:white;
  border-radius: 5px;
  padding:1%;
  border: none;
  cursor: pointer;
  margin-top:2%;
}

table {
  font-family: arial, sans-serif;
  /*border-collapse: collapse;*/
  width: 100%;
}

td, th {
  /*border: 1px solid #dddddd;*/
  text-align: left;
  padding: 8px;
  font-weight: normal !important;
  font-size:14px;
  letter-spacing: 1px;
  color: grey;
}

td {
  /*background-color: #dddddd;*/
  vertical-align: middle !important;
}

.tableDiv
{
  background-color: white;
  padding:1%;
}


.viewClass
{
  display: flex;
  flex-direction: row;
  /*justify-content: center;*/
  /*align-items: center;*/
  /*background-color: tomato;*/
  padding:1%;
  margin: 1% auto
  opacity: 1;
}

.viewClass>section:first-child
{
 flex:2;
}

.viewClass>section:last-child
{
 flex:1;
 text-align: right;
 /*align-items: right;*/
 /*background-color: yellow;*/
}



.returnInfo
{
  background-color: skyblue;
  height:40px;
  padding: 1%;
  margin: 1%;
  border-radius: 5px;
  justify-content: center;
  font-size:14px;
  letter-spacing: 1px;
  color: grey;
}

.formDiv
{
 /* display: flex;
  flex-direction: row;*/
   height: auto;
 /*width: 45%;*/
 width: 100%;
 height: auto;
 background-color: white;
 border-radius: 5px;
 margin: 1%;
 padding: 3%;
 font-weight: normal !important;
  font-size:14px;
  letter-spacing: 1px;
  color: grey;
}



.tbldiv
{
  background-color: white;

  margin:5% auto;

}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  /*border: 1px solid #dddddd;*/
  text-align: left;
  padding: 8px;
  font-weight: normal !important;
  font-size:14px;
  letter-spacing: 1px;
  color: grey;
}

td {
  /*background-color: #dddddd;*/
  vertical-align: middle !important;
}

.returnInfo2
{
  background-color: skyblue;
  height:auto;
  padding: 1%;
  margin: 1%;
  border-radius: 5px;
  /*justify-content: center;*/
}


input[type="text"] ,textarea{
  width: 100%;
  padding: 10px 15px;
  margin:1% 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

textarea{
  width: 100%;
  padding: 10px 15px;
  /*margin:1% 0;*/
  box-sizing: border-box;
  border: 2px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.form-select1
{
  width: 100%;
  padding: 10px 15px;
  /*margin:1% 0;*/
  box-sizing: border-box;
  border: 2px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[placeholder],textarea[placeholder]
{
  font-size:14px;
  letter-spacing: 1px;
  color: grey;
}

h1
{
 font-size:14px !important;
  letter-spacing: 1px !important;
  color: grey !important;
}
}



.card {
    position: relative;
    display: -ms-flexbox;
    display: grid;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;

    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .5rem;
    margin-top: 10px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: auto;
  margin:2% auto;
  text-align: center;
  font-family: arial;
  transition: 2s;
  min-height: 374px;


}
.inner {
  overflow: hidden;
}

.inner img {
  margin-top: 8px;
  transition: all 1s ease;
  margin-left:20px; 
}

.inner:hover img {
  transform: scale(1.1);
}


.price {
  color: grey;
  font-size: 22px;
}

.card button{
  background: #FE0000
}
.card button:hover {
  opacity: 0.7;
}
.listbtn{
  background-color: transparent;
  margin-top: 20px;
}




.view-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 10px;
}

.thumbnail
{
    margin-bottom: 30px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: white;
margin-top: -27px;
}

.item.list-group-item
{
    float: none;
   width: 100%;
    margin-bottom: 30px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 1rem;
    border: 0;
    border-radius: 5px;


}


.item.list-group-item .img-event {
    float: left;
    width: 30%;
}


.item.list-group-item .list-group-image
{
    margin-right: 330px;
}

.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
    display: inline-block;
}

.item.list-group-item .caption
{

    float: left;
    width: 70%;
    margin: 0;
    margin-left: auto;
    margin-top: auto;

}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item:after
{
    clear: both;
}


.pagination {
  display: inline-block;
}

.pagination a {
  color: red;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  background-color: white;
}

.pagination a:hover:not(.active) {
   text-decoration: none;
   /*background-color: #ddd;*/
   background-color: #4CAF50;
}

.pagination a:visited
{
  color:white;
  background-color: tomato;
}




