  .home_banner_area{

     background: url(https://subtlepatterns.com/patterns/sativa.png) 
  }

  .home_banner_area .box_1620 {
    min-height: 350px;
    width:400px;
    border-radius: 12px;
    position: relative;
    bottom: -80px;
    background: #fff;
    opacity:0.7;
    padding: 57px;
    box-shadow: 0px 20px 80px 0px rgba(153, 153, 153, 0.3);
  }
.icon{
    
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -47px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    z-index: 9;
    background: lightgreen;
    padding: 15px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.clearfix{
    margin-top: 30px;
}

.user{
    position: absolute;
    margin-top: 13px;
    margin-left: 20px;

}